
/* github test */

* {
    box-sizing: border-box;
}

:root {
    --navy0: #02050b;
    --navy1: #081424;
    --navy2: #061a30;
    --navy3: #001F3F;
    --teal: #008080;
    --dwhite: #FEF3C7;
}

body {
    background-color: var(--navy0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0 8px;
    color: var(--dwhite);
}

#wrapper {
    max-width: 960px;
    display: flex;
    min-height: 90vh;
    margin: 30px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.index_wrapper {
    max-height: 90vh; !important;
}

/* Left Sidebar Styling */
#left_wrapper {
    background-color: var(--navy1);
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_wrapper {
    text-align: center;
    margin-bottom: 40px;
}

#profile_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
}

.profile_name {
    font-size: 18px;
    font-weight: bold;
}

.profile_email {
    font-size: 14px;
}

#buttons_wrapper {
    width: 100%;
}

input[type="text"], input[type="password"], input[type="email"] {
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    -moz-appearance: none; /* Remove default styling in Firefox */
    appearance: none; /* Remove default styling in modern browsers */
    background: none; /* Remove background */
    margin: 0; /* Remove margin */
    outline: none; /* Remove outline */
    box-shadow: none; /* Remove box shadow */
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 100%;
    border: #374151 solid 1px;
    color: var(--dwhite);
}

input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: var(--teal);
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    margin: 16px 0;
    color: var(--dwhite);
    transition: 0.2s;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--navy3);
}

.input_errors {
    color: red;
    display: none;
}

#form_wrapper {
    padding: 16px;
    background-color: var(--navy1);
    width: 100%;
}

#form_wrapper h2 {
    text-align: center;
}

#signupForm {
    background-color: var(--navy2);
    padding: 24px;
}

#buttons_wrapper label {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    background-color: var(--navy2);
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#buttons_wrapper label:hover {
    background-color: var(--navy3);
    cursor: pointer;
}

/* Right Content Area Styling */
#right_wrapper {
    flex: 4;
    background-color: var(--teal);
    display: flex;
    flex-direction: column;
}

#header {
    background-color: var(--navy3);
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e5e7eb;
    justify-content: space-between;
}

#header label:hover {
    cursor: pointer;
}

#header h4 {
    margin: 0;
}

#container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#inner_left_wrapper {
    background-color: var(--navy2);
    flex: 1;
    padding: 16px;
    border-right: 2px solid #e5e7eb;
}

#contacts_container {
    padding: 16px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 10px;
}

#contacts_container > .contact {
    width: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--teal);
}

#contacts_container > .contact:hover {
    cursor: pointer;
}

#contacts_container > .contact img {
    border-radius: 50%;
    width: 40px;
}

#contacts_container > .contact p {
    /*overflow-wrap: break-word;*/
}

#gc_contact_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gc_contact {
    display: flex;
}


#inner_right_wrapper {
    background-color: var(--teal);
    flex: 2.5;
    padding: 20px;
    transition: all 0.5s ease;
}

#radio_contacts:checked ~ #inner_right_wrapper { /* ~ means sibling */
    flex: 0;
}

#radio_settings:checked ~ #inner_right_wrapper { /* ~ means sibling */
    flex: 0;
}

#radio_group_chat:checked ~ #inner_right_wrapper { /* ~ means sibling */
    flex: 0;
}

#profile_img_set {
    border-radius: 4px;
    background-color: var(--navy3);
    display: inline-block;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

#profile_img_set:hover {
    background-color: var(--navy2);
    cursor: pointer; !important;
}

#profile_img_set > label:hover {
    cursor: pointer; !important;
}

#profile_img_set > input {
    display: none;
}

#messages_wrapper {
    height: 90%;
    overflow-y: scroll;
    padding-right: 8px;
}

.message_container {
    display: flex;
    margin: 8px 0;
}

.message {
    background-color: var(--navy3);
    max-width: 60%;
    padding: 8px 16px;
    border-radius: 16px;
    position: relative !important;
}

.message p { margin: 4px 0; }

#delete_message_right {
    cursor: pointer;
    position: absolute !important;
    top: 15px;
    left: -60px;
}

#delete_message_left {
    cursor: pointer;
    position: absolute !important;
    top: 15px;
    right: -60px;
}

.left_message {
    margin-right: auto;
    background-color: var(--navy2);
    border-top-left-radius: 0;
}

.right_message {
    margin-left: auto;
    background-color: var(--navy2);
    border-bottom-right-radius: 0;
}

.message * {
    margin: 0;
}

#messages_inputs {
    padding: 8px 0;
    display: flex;
    gap: 4px;
}

#messages_inputs > #send_message {
    width: 8rem;
}

#file_input_label {
    border: solid 1px red;
}

#file_input_label:hover {
    cursor: pointer;
}

#previous_chats {
    overflow-y: auto;
    height: 85%;
    padding-right: 8px;
    max-width: 187px;
    border-radius: 8px;
}

.previous_chat_item {
    padding: 2px 8px;
    cursor: pointer;
    margin: 12px 0;
    background-color: var(--navy3);
    border-radius: 8px;
}

.previous_chat_item h5,
.previous_chat_item p {
    overflow: hidden;          /* Hide the overflow content */
    text-overflow: ellipsis;   /* Add "..." at the end of overflowing text */
    white-space: nowrap;       /* Prevent text from wrapping to the next line */
}

.previous_chat_item * {
    margin: 0;
}

#first_group_message {
    text-align: center;
}

button.group_actions {
    cursor: pointer;
    margin-bottom: 4px;
}

